.button {
  padding: 0.5rem 2rem;

  border-radius: 8px;

  background-color: var(--color-primary);
  color: var(--color-text-interactable);

  font-weight: bold;

  border: none;
}

.button:active {
  background-color: var(--color-primary-dark);
}

.button:disabled {
  background-color: gray;
}