:root {
  --color-primary: #adc698;
  --color-primary-dark: #51693a;
  --color-primary-light: #d5e2ca;

  --color-text: #000000;
  --color-text-interactable: #000000;
  --color-background: #ffffff;

  --color-error: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1b1b1b;
    --color-text: #fff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans MS';

  background-color: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
